.dropdown-search-container {

    .text-field,
    .text-field:focus {
        width: 100%;
        border: 1px solid #efefef;
        border-radius: 5px;
        outline: none;
    }
}

.dropdown-search-items {

    .dropdown-search-item {
        width: inherit;
        background-color: white;
        border: 0.5px solid #efefef;

        .dropdown-search-item-content {
            padding: 0.5em;
            font-size: 14px;
        }
    }

    .dropdown-search-item:last-child {
        border-radius: 0 0 5px 5px;
    }
}