
//weekly table panels color palette

@melech-red: rgb(255, 86, 90);
@melech-blue: rgb(101, 171, 247);
@melech-green: rgb(0, 187, 147);
@panel-purple: rgb(139, 99, 250);
@panel-pink: rgb(255, 97, 212);
