.toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .app-title {
        font-size: 20px;
        font-weight: 500;
        margin: 0.5em 1em 0 0;
    }

    .new-event-button {
        margin: 0.5em 0 0 0.75em;
        cursor: pointer;
    }
}