<div class="aerial-control-event-form">
    <kng-popup-header [rightTitle]="FORM_TITLE" [close]="closeFunc"></kng-popup-header>

    <div class="form-body">
        <div class="form-row">
            <div [style.width]="FIELD_CONTAINER_PERCENTAGE_WIDTH" class="field-container">
                <div class="field-label">שם האירוע</div>
                <input class="field text-field" type="text">
            </div>
            <div #dropdownFieldContainer [style.width]="FIELD_CONTAINER_PERCENTAGE_WIDTH" class="field-container">
                <div class="field-label">סוג אירוע</div>
                <kng-dropdown-search [width]="dropdownWidth" [values]="EVENT_TYPES"
                    placeholder="סוג אירוע"></kng-dropdown-search>
            </div>
            <div [style.width]="FIELD_CONTAINER_PERCENTAGE_WIDTH" class="field-container">
                <div class="field-label">Wtf</div>
                <kng-drop-down [values]="[]" [width]="dropdownWidth"></kng-drop-down>
            </div>
        </div>
        <div class="form-row">Operational info row...</div>
        <div class="form-row">Dates info row...</div>
        <div class="form-row">Envelope events row...</div>
        <div class="form-row">
            <div class="open-air-activity-form" (click)="openNewAirActivityForm()">הוספת פעילות אווירית</div>
        </div>
    </div>
</div>