.aerial-control-event-form {
    border-radius: 0 0 10px 10px;
    background-color: #ebe9e9;
    overflow-y: auto;

    .form-body {
        .form-row {
            display: flex;
            align-items: center;

            &:not(:first-child) {
                padding-top: 1.5em;
            }

            .field-container {
                padding: 0.5em;

                .field-label {
                    font-size: 14px;
                }

                .text-field,
                .text-field:focus {
                    width: 100%;
                    border: 1px solid #efefef;
                    border-radius: 5px;
                    outline: none;
                }
            }

            .open-air-activity-form {
                width: 10em;
                height: 2em;
                text-align: center;
                align-content: center;
                border: 1px solid #268ede;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }
}