:host {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 100%;

    .action-buttons {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid #d3d3d385;
        padding-bottom: 0.6%;

        .action-button {
            border: 1px solid #d3d3d385;
            border-radius: 3px;
            width: fit-content;
            margin-right: 1%;
            padding: 0.5%;
            cursor: pointer;
            border-radius: 3px;
        }
    }

    .filtering-labels {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid #d3d3d385;
        padding-bottom: 0.6%;;
        padding-top: 0.6%;
    }
}