.air-activity-form {
    width: 400px;
    border-radius: 0 0 10px 10px;
    background-color: #ebe9e9;

    .form-body {
        .form-row {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .field-container {
                padding: 0.5em;

                .field-label {
                    font-size: 14px;
                }
            }
        }
    }
}