.air-activity-form {
    border-radius: 0 0 10px 10px;
    background-color: #ebe9e9;

    .form-body {
        .form-row {
            display: flex;
            align-items: center;

            &:not(:first-child) {
                padding-top: 1.5em;
            }

            .field-container {
                padding: 0.5em;

                .field-label {
                    font-size: 14px;
                }
            }
        }
    }
}