/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

@font-face {
    font-family: 'Assistant Light';
    src: url('./assets/fonts/static/Assistant-Light.ttf');
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Assistant Light', 'Helvetica Neue', sans-serif;
    direction: rtl;
}