<!doctype html>
<html>
  <body class="body">
    <div class="panel-container">
      <div class="panel">
        <div class="panel-info">
          <div class="panel-title">אירועים מיוחדים</div>
          <div class="panel-count">2</div>
          <div class="panel-badges">
            <div class="special-event badge">
              <div class="event-count">15/30</div>
              <div class="badge-title">:תרגיל אנשי צוות</div>
            </div>
          </div>
        </div>
        <div class="icon icon-green">
          <img class="icon-svg" src="../../../assets/icons/calendar.svg">
        </div>
      </div>

      <div class="panel">
        <div class="panel-info">
          <div class="panel-title">תקנים חסרים</div>
          <div class="panel-count">1</div>
          <div class="panel-badges">
            <div class="icon-red badge">יום ד': 3</div>
            <div class="badge-title">:חסרים</div>
          </div>
        </div>
        <div class="icon-red icon">
          <img class="icon-svg" src="../../../assets/icons/triangle-alert-fill.svg">
        </div>
      </div>

      <div class="panel">
        <div class="panel-info">
          <div class="panel-title">סה"כ צוות נדרש</div>
          <div class="panel-count">2</div>
          <div class="panel-badges">
            <div class="badge badge-pink">סדיר: 3</div>
            <div class="badge badge-purple">מילואים: 2</div>
            <div>:מתוכם</div>
          </div>
        </div>
        <div class="icon-blue icon">
          <img class="icon-svg" src="../../../assets/icons/people-community-16-filled.svg">
        </div>
      </div>
    </div>
  </body>
</html>
